## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
    
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [30]:
import pandas as pd

In [31]:
import numpy as np

In [74]:
visits = pd.read_csv('visit_log.csv', sep=';')
visits.head()
visits[ visits['visit_id'].str.contains('3c', case=False) ].head()

,timestamp,visit_id,url,region,user_id,traffic_source
35,1549980908,0d5535e13c,https://host.ru/8880fd00cf23066541,Russia,51baf057bb,email
39,1549980932,94c11ed3c3,https://host.ru/da83c74e35e7806fe0,Russia,1875754379,yandex
82,1549981192,10cc3c382b,https://host.ru/c2382eb3d6afc8d0f3,Ukraine,9644780b17,direct
105,1549981369,523c41464e,https://host.ru/05e41944dd85a900a6,Australia,4f40719179,email
115,1549981432,23cd67852a,https://host.ru/6fda01ec57f23abc9e,Belarus,4a0f5111cd,google

In [76]:
source_1 = ['yandex', 'google']
source_2 = ['paid', 'email']


for traffic_source in source_1: 
    visits.loc[visits.traffic_source == traffic_source, 'traffic_type'] = 'organic' 
for traffic_source in source_2: 
    visits.loc[(visits.traffic_source == traffic_source) & (visits.region == 'Russia'), 'traffic_type'] = 'ad' 
for traffic_source in source_2: 
    visits.loc[(visits.traffic_source == traffic_source) & (visits.region != 'Russia'), 'traffic_type'] = 'other' 
visits.loc[pd.isnull(visits.traffic_type), 'traffic_type'] = visits.traffic_source

    
visits[ visits['visit_id'].str.contains('3c', case=False) ].head()

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
35,1549980908,0d5535e13c,https://host.ru/8880fd00cf23066541,Russia,51baf057bb,email,ad
39,1549980932,94c11ed3c3,https://host.ru/da83c74e35e7806fe0,Russia,1875754379,yandex,organic
82,1549981192,10cc3c382b,https://host.ru/c2382eb3d6afc8d0f3,Ukraine,9644780b17,direct,direct
105,1549981369,523c41464e,https://host.ru/05e41944dd85a900a6,Australia,4f40719179,email,other
115,1549981432,23cd67852a,https://host.ru/6fda01ec57f23abc9e,Belarus,4a0f5111cd,google,organic

## Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. 

Вам необходимо отфильтровать его по адресам страниц с текстами новостей. 

Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. 

Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [39]:
import re

In [43]:
urls = pd.read_csv('URLs.txt')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [50]:
urls[urls.url.str.contains(r'\/\d{8}\-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

## Домашнее задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [54]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [52]:
from pymystem3 import Mystem

In [67]:
m = Mystem()
def lemmatize(row):
    lemmas = m.lemmatize(row['keyword'])
    return ' '.join(lemmas)
    
data['lemmas'] = data.apply(lemmatize, axis=1)
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n

In [78]:
for i in data['lemmas']:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>